.products{
    margin: 2vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
}

@media only screen and (max-width: 960px) {
    .products{
        width: 100%;
        margin: 2vw;
        justify-content: center;
    }
}