.navigation-button{
    width: 10rem;
    height: 100%;
    display: grid;
    place-items: center;
    transition: 0.2s background-color;
}

.bold{
    font-family: proximaBold;
}

.navigation-button:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .navigation-button {
        width: 100%;
        height: 100%;
        padding: 0;
    }
}
