.navigation-button{
    width: 10rem;
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    transition: 0.2s background-color;
}
.navigation-icon{
    padding-right: 10px;
}

.selected-page{
    transition: 0.05s all;
    padding-bottom: 2px;
    border-bottom: 2px solid rgba(24, 24, 24, 0.76);
}

.bold{
    font-family: proximaBold;
}

.navigation-button:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .navigation-button {
        width: 100%;
        height: 100%;
        padding: 0;
    }
}
