.header{
    width: 100%;
    height: 6vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.089);
}



.theme-container{
    width: 100%;
    margin-right: 5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container{
    display: flex;
    margin-left: 5vw;
    width: 100%;
}

@media only screen and (max-width: 600px){
    .navigation-button:nth-child(1)
{
    display: none;
}
}